{% extends 'base.html' %}

{% block content %}

<h1>Create a New Playlist</h1>

<form method="POST" action="/playlists/add">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control", placeholder="Enter playlist name") }}
  </div>
  <div class="form-group">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control", placeholder="Enter playlist description") }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
